Repository wp-cli/package-command, pull requests merged in 2018-04, with the labels that each got.

#78 Handle unavailable composer.json on private repo (issue #76)
  features/package-install.feature
  src/Package_Command.php
Labels: bug, command:package-install

#66 Move `test-command` to `wp-cli-test` Github organization
  features/package-install.feature
Labels: command:package-install, scope:testing

#79 Update scaffolded files
  bin/test.sh
  features/bootstrap/utils.php
Labels: scope:testing
